{% for entry in entries %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-image">
                {% if entry.image %}
              <img src="\media\{{entry.image}}">
                {% endif %}

            </div>
            <div class="card-content">
                <div class="row">
                    <span class="card-title col-md-7" style="display: inline-grid">{{ entry.title }}
                    <span class="read-time">{{ entry.estimated_read_time}} min read</span>
                    </span>
                    {% if entry.is_editted %}
                        <span style="margin-top: 7px;" class="entry-date col-md-5">{{entry.modified_at|date:"M d, Y @ P"}} (Edited) </span>
                    {% else %}
                        <span style="margin-top: 7px;" class="entry-date col-md-5">{{entry.created_at|date:"M d, Y @ P"}} </span>
                    {% endif %}

                </div>

                <small>{{ entry.preview }}</small>
            </div>
              {% if entry.tag_set.all %}
              <div class="card-action entry-tags">
                {% for tag in entry.tag_set.all %}
                    <a href="{% url 'filter_tags' tag.name %}"><span class="badge badge-dark" style="color: white;margin-bottom: 3px;">{{tag}}</span></a>
                {% endfor %}
              </div>
              {% endif %}

              {% if entry.location %}
              <div class="card-action entry-location">
                  <i class="material-icons">location_on</i> {{ entry.location }}
              </div>
              {% endif %}
            <div class="card-action" style="text-align: center;">

                <a class="view-entry-btn" href="{% url 'view_entry' entry.id %}"><i class="material-icons">visibility</i></a>

                <a class="edit-entry-btn" href="{% url 'edit_entry' entry.id %}"><i class="material-icons">edit</i></a>

                <a class="delete-entry-btn" onClick="ajaxCall('{% url 'delete_entry' entry.id %}', 'GET', this, deleteEntryAnimation)" >
                    <i class="material-icons">delete_forever</i>
                </a>

            </div>
          </div>
        </div>

    {% endfor %}