# Created by .ignore support plugin (hsz.mobi)
.env
.idea
*.iml
out
gen
myvenv
*.pyc
*app/.pyc
app/collectstatic
app/staticfiles
app/media
.vscode
app/Procfile
app/journal/__pycache__
app/journalize/__pycache__
app/userprofile/__pycache__
app/.__pycache__