{% extends "base.html" %}
{% load static %}


{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Journal Entry</title>
    <link rel="stylesheet" href="{% static 'css/dropify.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
</head>
<body>
<div style="width: 95%; margin: auto;">
    <form  enctype="multipart/form-data" method="post" novalidate>
        {% csrf_token %}

        {{ form }}
        <input type="hidden" name="image" value="{{object.image}}">
        <input type="submit" class="btn" value="Save">
    </form>
</div>
</body>
</html>
    <script src="{% static 'js/dropify.js' %}"></script>
    <script src= "{% static 'js/simplemde.min.js' %}"></script>
    <script>
            $('.dropify').attr('data-default-file','\\' + 'media\\' + '{{object.image}}')
        $('.dropify').dropify({
            tpl: {
                message: '<div class="dropify-message"><span class="file-icon" /> <p>Edit Image Upload</p></div>',
                filename: '<p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner">{{object.image}}</span></p>',
            }
        });
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}