{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static "css/journal.css" %}" >
{% endblock head %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal Entries</title>
</head>
<body>

    <div class="row">
    {% if entries %}

        {% include "includes/entries.html" %}
        </div>

        </div>
    {% else %}
    <div class="row no-entries">
        <h1>No Journal Entries Written Yet ☹</h1>
        <p>Get started writing awesome Journal Entries today!</p>
    </div>

    {% endif %}

 <a href="{% url "create_entry" %}" class="btn-floating btn-large waves-effect waves-light black add-entry-btn"><i class="material-icons">add</i></a>


</body>
</html>

{% endblock %}