{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/journal.css' %}" >
{% endblock head %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{entry.title}} | Journalize</title>
</head>
<body>
    <div class="main-container">
        <div class="journal-title">
            {% if entry.image %}
            <div class="header">
                <img src="\media\{{entry.image}}" width="600" height="400" alt="image" style="margin-top: 20px;">
                <h1 class="entry-title">{{entry.title}}</h1>
            </div>
            {% else %}
                <h1>{{entry.title}}</h1>
            {% endif %}

        </div>

        <div class="journal-body">
            <p>{{entry.get_text_as_markdown}}</p>
        </div>

    </div>

</body>
</html>

{% endblock content %}