{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/journal.css' %}" >
{% endblock head %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{entry.title}}</title>
</head>
<body>
    <div class="main-container">
        <div class="journal-title">
            <h1>{{entry.title}}</h1>
        </div>

        <div class="journal-body">
            <p>{{entry.get_text_as_markdown}}</p>
        </div>

    </div>

</body>
</html>

{% endblock content %}