{% extends "base.html" %}

{% load static %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Entry</title>
    <link rel="stylesheet" href="{% static 'css/dropify.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/taggle.min.css' %}">
</head>
<body>

<div style="width: 95%; margin: auto;">
    <form method="post" enctype="multipart/form-data" novalidate >
        {% csrf_token %}
        {{ form }}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>ERROR!!!!</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <br>
        <input class="btn" style="float: right;
                                    text-decoration: none;
                                    color: #fff;
                                    background-color: #26a69a;
                                    text-align: center;
                                    letter-spacing: .5px;
                                    -webkit-transition: .2s ease-out !important;
                                    transition: .2s ease-out;
                                    cursor: pointer;
                                    width: 100px;
                                    padding: 0;
                                    border-radius: 0;" type="submit" value="Publish" />
    </form>
    <div id="entry-tags-section"></div>
</div>
</body>
</html>


{% endblock content %}

{% block footer_javascript %}
<script src="{% static 'js/dropify.js' %}"></script>
<script src="{% static 'js/simplemde.min.js' %}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/taggle.js'%}"></script>
<script>
    $('.dropify').dropify();
    var simplemde = new SimpleMDE();
    var taggle = new Taggle('entry-tags-section', {
        duplicateTagClass: 'bounce'
    });
    $('form').on('submit', function(){
        taggle.tag['values'].join('|')
        $('#id_tags').val(taggle.tag['values'].join('|'));
        });
</script>
{% endblock %}