.sidenav
{
    position: fixed;
    height: 100%;
    top: 95px;
}

.home-template-img
{
    width: 100%;
    height: 129%;
}

.image-container{
    margin-top: -7%;
}

.app-header{
    color: white;
    position: absolute;
    margin: 22% 0% 0% 38%;
}

.app-title{
    font-family: Tahoma, sans-serif;
    font-size: 6em;
}

.btn-default{
    background-color: white;
    color: dark-grey;
}

.main{
    margin: 8% 0% 0% 29%;
    width: 100%;
}

.add-entry-btn{
    margin: 9% 0px 0px 90%;
    position: fixed !important;
    bottom: 40px;
}

i.material-icons:hover {
    color: black;
    background: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    height: 148%;
}

.taggle_placeholder{
    position: relative !important;
    top: 35px !important;
}

.delete-entry-btn{
    cursor: hand;
}