.main-container{
    margin: auto;
    width: 75%;
}

.journal-preview-title{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 2rem;
}

.journal-header{
    text-align: center;
    margin-bottom: 5em;
}

.journal-preview-body{
    font-size: 15px;
    font-family: 'Alegreya Sans', sans-serif;
    /* font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Armata', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Gentium Basic', serif;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Khand', sans-serif;
    font-family: 'Khula', sans-serif; */
}

.read-time{
    font-size: 11px;
    color: rgb(107, 165, 162);
    font-family: 'Exo', sans-serif;
}

a:hover{
    text-decoration: none !important;
}

.entry-location{
    background-color: rgba(245, 245, 245, 0.5) !important;
}

.entry-tags{
    background-color: rgba(249, 249, 249, 0.99) !important;
    float: left;
}

.no-entries{
    display: inline;
    text-align: center;
}